@page "/aboutus"

<PageTitle>About Us</PageTitle>

<div id="heading-breadcrumbs" class="border-top-0 border-bottom-0">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">About Us</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="/" style="color:#85b9d8">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
@* <div class="box-container"> *@


<div id="content">
    <div class="container">
        <section class="bar" id="marg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>About Our Company</h2>
                        <div class="Sboder"></div>
                    </div>
                    <p class="lead">
                        Printing businesses keep appearing on the spectrum of the market since they are a major need of the hour. <strong>Unique Advertizer</strong> is your go-to printing company with all of its fully functional machines and equipment. What sets us apart from other people is that we value both our customers and our employees highly. This way after the completion of an order, our customers are left feeling satisfied and content. On the other hand, the people in our staff feel a sense of pleasure too when they know that they have made the customers happy.
                        <br><br>
                        <strong>Unique Advertizer</strong> has a long list of successful projects and happy customers. We take special pride in our policies regarding transparency and customer satisfaction. Our creative cell is always buzzing with new ideas and we present those ideas to our customers, which they love a lot. Then by the mutual understating with the customers, we design the printing layout, logo, and promo for them. Our professionals work hard to meet the high standards set by us. We ensure no compromise on the quality of products which bear the name of <strong>Unique Advertizer</strong>.
                        <br><br>
                        Our pricing policy is quite customer friendly as well. Since the prices are the lowest and fairest when compared with other printing companies in the market. This low pricing, however, does not mean a low quality too as the quality of our products will be as high as it has always been. Our graphics and communication skills are exquisite as we have an experience of many years on end. This experience has made us learn a lot of things on our way and now we can proudly say that we have mastered the art of printing. <strong>Unique Advertizer</strong> provides a lot of services like digital printing services, offset printing services, advertising services,  web development services, social media marketing and mobile applications etc. We specialize in other printing services too and have everything that you might look for in a competitive printing company. So, go ahead and hire our services to have the best and most creative logo and promos for your business.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <div class="bg-gray">
        <div class="container">
            <section class="bar" style="padding-top: 60px;">
                <div class="row services text-center  bg-gray">
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon-outlined"><i class="fa fa-envelope"></i></div>
                            <h3 class="h4 text-primary">EXCELLENT SUPPORT</h3>
                            <p class="text-black" style="color: #000;">Are excellent fast support always make our clients happy! You may also enjoy.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon-outlined"><i class="fa fa-users"></i></div>
                            <h3 class="h4 text-primary">AWESOME TEAM</h3>
                            <p class="text-black" style="color: #000;">We have a team of experts, our team is a very important part of our company!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon-outlined"><i class="fa fa-line-chart"></i></div>
                            <h3 class="h4 text-primary">FASTER PERFORMANCE</h3>
                            <p class="text-black" style="color: #000;">We are always available for express delivery and we would glad to offer you our fastest performance services!</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container" id="marg">
        <section class="bar no-mb" style="margin-top: 100px;">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Meet Our Team</h2>
                    <div class="Sboder"></div>
                </div>
                <div class="row text-center" >
                    <div class="col-md-3">
                        <div data-animate="fadeInUp" class="team-member">
                            <div class="image"><a href="/aboutus"><img src="https://uniquead.pk/imgs/ceo.jpg" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="aboutus">Tassawar Hussain</a></h3>
                            <p class="role">Chief Executive Officer</p>
                            <ul class="social list-inline">
                                <li class="list-inline-item"><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="external whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="email"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.team-member-->
                    <div data-animate="fadeInUp" class="col-md-3">
                        <div class="team-member">
                            <div class="image"><a href="aboutus"><img src="https://uniquead.pk/imgs/mubashar.jpg" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="/aboutus">Mubashar Malik</a></h3>
                            <p class="role">Founder / Managing Director</p>
                            <ul class="social list-inline">
                                <li class="list-inline-item"><a target="_blank" href="#" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="#" class="external whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="email"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.team-member-->
                    <div data-animate="fadeInUp" class="col-md-3">
                        <div class="team-member">
                            <div class="image"><a href="aboutus"><img src="https://uniquead.pk/imgs/faizi.jpg" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="aboutus">Muhammad Faizan</a></h3>
                            <p class="role">IT/HR Director</p>
                            <ul class="social list-inline">
                                <li class="list-inline-item"><a target="_blank" href="#" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="#" class="external whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="email"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.team-member-->
                    <div data-animate="fadeInUp" class="col-md-3">
                        <div class="team-member">
                            <div class="image"><a href="aboutus"><img src="https://uniquead.pk/imgs/Faheem-Khalid-Adv.jpg" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="aboutus">Faheem Khalid ADV</a></h3>
                            <p class="role">Legal Advisor</p>
                            <ul class="social list-inline">
                                <li class="list-inline-item"><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="external whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="email"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                        <div class="team-member">
                            <div class="image"><a href="/aboutus"><img src="https://uniquead.pk/imgs/aliyan.png" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="/aboutus">Aliyan Hassan</a></h3>
                            <p class="role">BM PU-02</p>
                        </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                        <div class="team-member">
                            <div class="image"><a href="/aboutus"><img src="https://uniquead.pk/imgs/akhtar.png" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="/aboutus">uhammad Akhtar Ali</a></h3>
                            <p class="role">Production Manager</p>
                        </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                        <div class="team-member">
                            <div class="image"><a href="/aboutus"><img src="https://uniquead.pk/imgs/icon.png" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="/aboutus">Syed Shafiq Ur Rehman</a></h3>
                            <p class="role">Production Officer</p>
                        </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                        <div class="team-member">
                            <div class="image"><a href="/aboutus"><img src="https://uniquead.pk/imgs/huzaifa.jpg" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="/aboutus">Muhammad Huzaifa</a></h3>
                            <p class="role">Graphihc Designer</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <div data-animate="fadeInUp" class="team-member">
                            <div class="image"><a href="/aboutus"><img src="https://uniquead.pk/imgs/icon.png" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="/aboutus">Zain Ul Abideen</a></h3>
                            <p class="role">CRO / Receptionist</p>
                        </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                        <div class="team-member">
                            <div class="image"><a href="/aboutus"><img src="https://uniquead.pk/imgs/anaya.jpg" alt="" class="img-fluid rounded-circle"></a></div>
                            <h3><a href="/aboutus">Anaya Noor</a></h3>
                            <p class="role">Customer Relationship Officer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@* </div> *@
