@page "/productpage"

<div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Products</h1>
                
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="https://uniquead.pk/">Home</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="py-5">
    <div class="container py-4">
        <div class="row g-5">
            <div class="col-lg-3">
                <input type="hidden" id="txtCategory" value="">
                <h3 class="h4 lined text-uppercase mb-4">Categories</h3>
                <ul class="nav flex-column nav-pills mb-4">
                    <li class="nav-item">
                        <a class="nav-link" href="jsvascript:void(0)">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">DIGITAL SOLUTIONS</span>
                                <!-- <div class="badge bg-secondary">42</div> -->
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=executive+shields"> <span class="ps-2">EXECUTIVE SHIELDS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=graphics+/+prints"> <span class="ps-2">GRAPHICS / PRINTS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=school+shields"> <span class="ps-2">SCHOOL SHIELDS</span></a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jsvascript:void(0)">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">GENERAL PRODUCTS</span>
                                <!-- <div class="badge bg-secondary">42</div> -->
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=epson+products"> <span class="ps-2">EPSON PRODUCTS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=flex+material"> <span class="ps-2">FLEX MATERIAL</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=offset+material"> <span class="ps-2">OFFSET MATERIAL</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=stationary"> <span class="ps-2">STATIONARY</span></a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jsvascript:void(0)">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">GIFTING PRODUCTS</span>
                                <!-- <div class="badge bg-secondary">42</div> -->
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=artificial+jewelry+"> <span class="ps-2">ARTIFICIAL JEWELRY </span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=fabric+printing"> <span class="ps-2">FABRIC PRINTING</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=mug+/+frame"> <span class="ps-2">MUG / FRAME</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=personalised+products"> <span class="ps-2">PERSONALISED PRODUCTS</span></a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jsvascript:void(0)">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">OFFSET PRINTING</span>
                                <!-- <div class="badge bg-secondary">42</div> -->
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=bill+book"> <span class="ps-2">BILL BOOK</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=builty+books"> <span class="ps-2">BUILTY BOOKS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=card+items"> <span class="ps-2">CARD ITEMS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=envelopes"> <span class="ps-2">ENVELOPES</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=gum+pads"> <span class="ps-2">GUM PADS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=ishtehar+/+poster"> <span class="ps-2">ISHTEHAR / POSTER</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=letter+head+pads"> <span class="ps-2">LETTER HEAD PADS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=packaging+/+labeling"> <span class="ps-2">PACKAGING / LABELING</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=pamphlet+/+brochure+/+leaflets"> <span class="ps-2">PAMPHLET / BROCHURE / LEAFLETS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=raseed+books"> <span class="ps-2">RASEED BOOKS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=stamps"> <span class="ps-2">STAMPS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=stickers"> <span class="ps-2">STICKERS</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=visiting+card"> <span class="ps-2">VISITING CARD</span></a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jsvascript:void(0)">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">PANAFLEX PRINTING</span>
                                <!-- <div class="badge bg-secondary">42</div> -->
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=indoor+media"> <span class="ps-2">INDOOR MEDIA</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=out+door+media"> <span class="ps-2">OUT DOOR MEDIA</span></a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jsvascript:void(0)">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">SMD / 3D SIGNAGE</span>
                                <!-- <div class="badge bg-secondary">42</div> -->
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=3d+letter+board"> <span class="ps-2">3D LETTER BOARD</span></a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jsvascript:void(0)">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-uppercase">WEDDING CARD</span>
                                <!-- <div class="badge bg-secondary">42</div> -->
                            </div>
                        </a>
                        <ul class="list-unstyled text-sm text-muted mb-0">
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=ns+wedding+card"> <span class="ps-2">NS WEDDING CARD</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=online+wedding+card"> <span class="ps-2">ONLINE WEDDING CARD</span></a></li>
                            <li><a class="nav-link ps-4 text-muted letter-spacing-1" href="https://uniquead.pk/products?c=yy+wedding+card"> <span class="ps-2">YY WEDDING CARD</span></a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="row gy-5 align-items-stretch" id="dvProduct">

                    <div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=UllwRWt2amJxVk9kZkJHc0dtV1F1dz09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/599929-615834.jpg" alt="3D ACRYLIC BOARD REPAIRING"></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=UllwRWt2amJxVk9kZkJHc0dtV1F1dz09">3D ACRYLIC BOARD REPAIRING</a></h3><p class="mb-0">Rs. 500.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=MXFkc092cVZmeHovNjkyUmxrTU9tUT09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/310692-231775.jpg" alt="3D ACRYLIC BOARD"></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=MXFkc092cVZmeHovNjkyUmxrTU9tUT09">3D ACRYLIC BOARD</a></h3><p class="mb-0">Rs. 1500.00/SQ.FT</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=UE5xWVUvOXBGa1Jia0JIYUd2N3M1Zz09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/864163-694519.jpg" alt="Acrylic Shield D-12 (3.6" x6"="" |="" 6.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=UE5xWVUvOXBGa1Jia0JIYUd2N3M1Zz09">Acrylic Shield D-12 (3.6"x6" | 6.mm)</a></h3><p class="mb-0">Rs. 450.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=WktaUnZ1NE5ncjIwWlhwcFJ6eTdoUT09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/825226-793761.jpg" alt="Acrylic Shield D-13 (3.95" x6.5"="" |="" 4.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=WktaUnZ1NE5ncjIwWlhwcFJ6eTdoUT09">Acrylic Shield D-13 (3.95"x6.5" | 4.mm)</a></h3><p class="mb-0">Rs. 450.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=eXBFTzVzQ2wvaW1BaldocGZvWVNidz09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/383503-808815.jpg" alt="Acrylic Shield D-13 (3.95" x6.5"="" |="" 6.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=eXBFTzVzQ2wvaW1BaldocGZvWVNidz09">Acrylic Shield D-13 (3.95"x6.5" | 6.mm)</a></h3><p class="mb-0">Rs. 500.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=cmlZdkswUzgxSUM5aHlOWk5hTEd5UT09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/690505-312406.jpg" alt="Acrylic Shield D-14 (4.25" x7"="" |="" 4.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=cmlZdkswUzgxSUM5aHlOWk5hTEd5UT09">Acrylic Shield D-14 (4.25"x7" | 4.mm)</a></h3><p class="mb-0">Rs. 500.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=SGZPa0dPQVN4VmdQODJZTnFEWVJtQT09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/459995-582196.jpg" alt="Acrylic Shield D-14 (4.25" x7"="" |="" 6.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=SGZPa0dPQVN4VmdQODJZTnFEWVJtQT09">Acrylic Shield D-14 (4.25"x7" | 6.mm)</a></h3><p class="mb-0">Rs. 550.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=Q2FJV1kyMWllRzRBZ1ZqR0l4VHJWZz09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/18932-277558.jpg" alt="Acrylic Shield (3.5" x5"="" |="" 4.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=Q2FJV1kyMWllRzRBZ1ZqR0l4VHJWZz09">Acrylic Shield (3.5"x5" | 4.mm)</a></h3><p class="mb-0">Rs. 400.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=WmRKWnYrZVBtcGJqWlFyZEtIWGpUQT09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/208043-929790.jpg" alt="Acrylic Shield OK-5 (3.5" x5"="" |="" 6.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=WmRKWnYrZVBtcGJqWlFyZEtIWGpUQT09">Acrylic Shield OK-5 (3.5"x5" | 6.mm)</a></h3><p class="mb-0">Rs. 450.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=RkYyb0I3V0FIbFpISWFveXZNMXk0UT09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/215296-865544.jpg" alt="Acrylic Shield OK-6 (3.5" x5.5"="" |="" 4.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=RkYyb0I3V0FIbFpISWFveXZNMXk0UT09">Acrylic Shield OK-6 (3.5"x5.5" | 4.mm)</a></h3><p class="mb-0">Rs. 450.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=WGsyQkcrN1BaYisrMHdzVU5NK2o4dz09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/39852-52536.jpg" alt="Acrylic Shield OK-6 (3.5" x5.5"="" |="" 6.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=WGsyQkcrN1BaYisrMHdzVU5NK2o4dz09">Acrylic Shield OK-6 (3.5"x5.5" | 6.mm)</a></h3><p class="mb-0">Rs. 500.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=SC85N3g2YzNEbFpDdGdzL0xSK1hpUT09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/853769-593848.jpg" alt="Acrylic Shield OK-7 (3.5" x6"="" |="" 4.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=SC85N3g2YzNEbFpDdGdzL0xSK1hpUT09">Acrylic Shield OK-7 (3.5"x6" | 4.mm)</a></h3><p class="mb-0">Rs. 550.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=TkFRVVZNOVNVdTJOa3MrQmEycGhXdz09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/671401-436405.jpg" alt="Acrylic Shield OK-7 (3.5" x6"="" |="" 6.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=TkFRVVZNOVNVdTJOa3MrQmEycGhXdz09">Acrylic Shield OK-7 (3.5"x6" | 6.mm)</a></h3><p class="mb-0">Rs. 600.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=L0dnc0puUWgvR0tEbmJpQzdodGhvZz09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/921268-692043.jpg" alt="Acrylic Shield SU-20 (3.1" x5.5"="" |="" 4.mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=L0dnc0puUWgvR0tEbmJpQzdodGhvZz09">Acrylic Shield SU-20 (3.1"x5.5" | 4.mm)</a></h3><p class="mb-0">Rs. 400.00/PIECE</p></div></div></div><div class="col-lg-4 col-md-6"><div class="product h-100"><div class="product-image"><a href="https://uniquead.pk/product-detail?p=QWJXVnArVVV5RDZ0eVJWcEhOMk0yZz09"><img class="img-fluid" src="https://web.uniquead.pk/assets/images/product/340853-933305.jpg" alt="Acrylic Shield SU-20 (3.1" x5.5"="" |="" 6mm)"=""></a></div><div class="py-4 px-3 text-center"><h3 class="h5 text-uppercase mb-3"><a class="reset-link" href="https://uniquead.pk/product-detail?p=QWJXVnArVVV5RDZ0eVJWcEhOMk0yZz09">Acrylic Shield SU-20 (3.1"x5.5" | 6mm)</a></h3><p class="mb-0">Rs. 450.00/PIECE</p></div></div></div>
                </div>
                <div class="text-center mb-5">
                    <button style="" class="btn btn-outline-primary" id="btnLoadMore"><i class="fa fa-angle-down me-2"></i>Load more</button>
                </div>
            </div>
        </div>
    </div>
</section>