<header class="bg-white py-4 shadow-sm">
    <div class="container mx-auto flex justify-between items-center px-4">
        <a href="/" class="flex items-center">
            <img src="images/logo.png" alt="Unique Advertising" class="h-12 w-auto" />
        </a>
        <MainNavigation />
    </div>
</header>

